.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: rgb(78, 179, 204);
}

p {
  font-size: 2rem;
  color: rgb(78, 204, 187);
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.refresh{
  margin: 2rem;
  box-shadow: 2px 2px 5px black;
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  color:rgb(78, 179, 204);
  background-color: rgb(9, 37, 49);
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.3rem;

}
